In [1]:
import numpy as np
import torch
import torch.nn as nn
import matplotlib.pyplot as plt
from torchvision import transforms
from net import *
from utils import *
from loss import *

In [2]:
def quantitative_eval(model, dataset, parameters, target_mask):
    
    ## parameters
    device = parameters['device']
    batch_size = parameters['batch_size']
    chunk_size = parameters['chunk_size']
    all_time_max = parameters['all_time_max']
    
    ## metrics
    hole_l1_output = []
    hole_mse_output = []
    hole_count = []
    hole_total_pred = []
    hole_total_gt = []
    
    ## iterate through
    outer_indices = [k for k in range(chunk_size-1, len(dataset), chunk_size)]
    for i in range(0, len(outer_indices), batch_size):
        inner_indices = range(i, min(len(outer_indices), i+batch_size))
        _, gt= zip(*[dataset[outer_indices[j]] for j in inner_indices])
        gt = torch.stack(gt).to(device)
        mask = np.repeat(target_mask.reshape(1,64,64), chunk_size, axis=0).reshape(1,chunk_size,64,64)
        mask = torch.from_numpy(np.repeat(mask, gt.shape[0], axis=0).reshape(gt.shape[0],1,chunk_size,64,64)).float().to(device)
        with torch.no_grad():
            output, _ = model(gt, mask)
        output_comp = mask * gt + (1 - mask) * output
        
        ## scale back
        gt = (gt*all_time_max).squeeze_(1).cpu().detach().numpy()
        output_comp = (output_comp*all_time_max).squeeze_(1).cpu().detach().numpy()
        mask = mask.squeeze_(1).cpu().detach().numpy()      
        
        for j in range(len(output)):
            for k in range(chunk_size):
                ## single image & output
                gt_single = gt[j][k]
                output_comp_single = output_comp[j][k]
                mask_single = mask[j][k]
            
                ## hole regions
                output_comp_single_hole = output_comp_single[np.where(mask_single == 0)]
                gt_single_hole = gt_single[np.where(mask_single == 0)]
                hole_l1_output.append(np.mean(np.abs(output_comp_single_hole - gt_single_hole)))
                hole_mse_output.append(mean_squared_error(output_comp_single_hole, gt_single_hole))
                
                hole_count.append(np.sum(mask_single==0))
                hole_total_pred.append(np.sum(output_comp_single_hole))
                hole_total_gt.append(np.sum(gt_single_hole))
            
    return {'hole_l1_output':hole_l1_output,
            'hole_mse_output':hole_mse_output,
            'hole_count':hole_count,
            'hole_total_pred':hole_total_pred,
            'hole_total_gt':hole_total_gt}

### Urban Masking

In [3]:
parameters = {
    "batch_size": 16,
    "chunk_size": 2,
    "all_time_max": 1428,
    "device": torch.device("cuda") if torch.cuda.is_available() else torch.device("cpu")
}
results = {}
img = np.zeros((64,64))
img = np.load(f'D:/nyc_taxi/data_min_max/train.npy')[0]
blurred = cv2.GaussianBlur(img, (5,5), 0)
urban_mask = 1-cv2.threshold(blurred, np.quantile(blurred.ravel(), 0.9), 1, cv2.THRESH_BINARY)[1]

for chunk_size in [1,2,3,5,7,10,15]:
    print(f'Chunk Size: {chunk_size}')
    for mask_type in ['biased', 'random']:
        for mape_loss in [0]:
            parameters['chunk_size'] = chunk_size
            parameters['mape_loss'] = mape_loss
            ## parameters
            img_root = "D:/nyc_taxi/data_min_max"
            mask_root = "D:/nyc_taxi/data_min_max"
            image_size = 64
            device = torch.device("cuda") if torch.cuda.is_available() else torch.device("cpu")
            test_imgs = np.load(img_root+'/test.npy')
            test_masks_random = np.load(mask_root+'/test_random_mask.npy')
            dataset_test = taxi_data(test_imgs, test_masks_random, image_size, chunk_size)

            ## load models
            model = PConvUNet(chunk_size=chunk_size).to(device)
            model.load_state_dict(torch.load(f'../../model_states/chunk_size_{chunk_size}/{mask_type}_{mape_loss}'))
            model.eval()
            
            ## evaluation
            test_result = quantitative_eval(model, dataset_test, parameters, urban_mask)
            results[f'{mask_type}_{mape_loss}_{chunk_size}'] = test_result

Chunk Size: 1
Chunk Size: 2
Chunk Size: 3
Chunk Size: 5
Chunk Size: 7
Chunk Size: 10
Chunk Size: 15

In [4]:
random_tabular_view = []

for key in results.keys():
    
    result = results[key]
    
    ## random test set evaluation
    random_tabular_view.append([
        key,
        np.mean(result['hole_l1_output']),
        np.mean(result['hole_mse_output']),
        np.mean(result['hole_count']),
        np.mean(result['hole_total_pred']),
        np.mean(result['hole_total_gt'])
    ])
## make tabular view
random_tabular_view = pd.DataFrame(random_tabular_view, columns=['model', 'hole_l1_output', 'hole_mse_output', 
                                                                 'hole_count', 'hole_total_pred', 'hole_total_gt'])
random_tabular_view

,model,hole_l1_output,hole_mse_output,hole_count,hole_total_pred,hole_total_gt
0,biased_0_1,20.076794,1615.925884,409.0,8720.796875,14569.634766
1,random_0_1,24.418079,2285.188033,409.0,5507.997559,14569.634766
2,biased_0_2,19.193811,1479.382766,409.0,8777.217773,14569.634766
3,random_0_2,26.101334,2606.137994,409.0,4551.257324,14569.634766
4,biased_0_3,22.353373,1916.617565,409.0,7022.444824,14569.634766
5,random_0_3,24.990627,2364.647604,409.0,5247.443359,14569.634766
6,biased_0_5,19.293201,1408.748953,409.0,8158.510254,14564.214844
7,random_0_5,17.915545,1343.661844,409.0,8570.409180,14564.214844
8,biased_0_7,17.497463,1236.399408,409.0,8926.416992,14562.685547
9,random_0_7,17.101097,1162.792086,409.0,11667.549805,14562.685547
10,biased_0_10,17.552095,1270.253755,409.0,9133.957031,14564.214844
11,random_0_10,20.289164,1595.522825,409.0,8188.838867,14564.214844
12,biased_0_15,25.010416,2372.270225,409.0,5108.415039,14562.081055
13,random_0_15,17.132429,1083.442227,409.0,10966.270508,14562.081055

In [5]:
random_tabular_view.to_csv(f'urban_target_results.csv', index=False)

### Rural Eval

In [6]:
parameters = {
    "batch_size": 16,
    "chunk_size": 2,
    "all_time_max": 1428,
    "device": torch.device("cuda") if torch.cuda.is_available() else torch.device("cpu")
}
results = {}
img = np.zeros((64,64))
img = np.load(f'D:/nyc_taxi/data_min_max/train.npy')[0]
blurred = cv2.GaussianBlur(img, (5,5), 0)
rural_mask = cv2.threshold(blurred, np.quantile(blurred.ravel(), 0.9), 1, cv2.THRESH_BINARY)[1]

for chunk_size in [1,2,3,5,7,10,15]:
    print(f'Chunk Size: {chunk_size}')
    for mask_type in ['biased', 'random']:
        for mape_loss in [0]:
            parameters['chunk_size'] = chunk_size
            parameters['mape_loss'] = mape_loss
            ## parameters
            img_root = "D:/nyc_taxi/data_min_max"
            mask_root = "D:/nyc_taxi/data_min_max"
            image_size = 64
            device = torch.device("cuda") if torch.cuda.is_available() else torch.device("cpu")
            test_imgs = np.load(img_root+'/test.npy')
            test_masks_random = np.load(mask_root+'/test_random_mask.npy')
            dataset_test = taxi_data(test_imgs, test_masks_random, image_size, chunk_size)

            ## load models
            model = PConvUNet(chunk_size=chunk_size).to(device)
            model.load_state_dict(torch.load(f'../../model_states/chunk_size_{chunk_size}/{mask_type}_{mape_loss}'))
            model.eval()
            
            ## evaluation
            test_result = quantitative_eval(model, dataset_test, parameters, rural_mask)
            results[f'{mask_type}_{mape_loss}_{chunk_size}'] = test_result

Chunk Size: 1
Chunk Size: 2
Chunk Size: 3
Chunk Size: 5
Chunk Size: 7
Chunk Size: 10
Chunk Size: 15

In [7]:
random_tabular_view = []

for key in results.keys():
    
    result = results[key]
    
    ## random test set evaluation
    random_tabular_view.append([
        key,
        np.mean(result['hole_l1_output']),
        np.mean(result['hole_mse_output']),
        np.mean(result['hole_count']),
        np.mean(result['hole_total_pred']),
        np.mean(result['hole_total_gt'])
    ])
## make tabular view
random_tabular_view = pd.DataFrame(random_tabular_view, columns=['model', 'hole_l1_output', 'hole_mse_output', 
                                                                 'hole_count', 'hole_total_pred', 'hole_total_gt'])
random_tabular_view

,model,hole_l1_output,hole_mse_output,hole_count,hole_total_pred,hole_total_gt
0,biased_0_1,1.699543,81.243427,3687.0,6116.310059,552.103455
1,random_0_1,1.550481,58.358123,3687.0,5558.102051,552.103455
2,biased_0_2,3.702608,196.450464,3687.0,13621.015625,552.103455
3,random_0_2,2.693103,131.338895,3687.0,9915.833984,552.103455
4,biased_0_3,0.784883,21.382781,3687.0,2860.838379,552.103455
5,random_0_3,1.517581,59.430163,3687.0,5642.919434,552.103455
6,biased_0_5,3.011186,177.471038,3687.0,10750.969727,551.793945
7,random_0_5,0.946241,49.353985,3687.0,3167.336182,551.793945
8,biased_0_7,1.368778,95.925871,3687.0,4552.695312,551.783081
9,random_0_7,0.988330,41.614707,3687.0,3405.200684,551.783081
10,biased_0_10,2.915705,187.406677,3687.0,10333.706055,551.793945
11,random_0_10,0.378613,19.640105,3687.0,976.085999,551.793945
12,biased_0_15,1.166910,47.612969,3687.0,3863.085205,551.684631
13,random_0_15,0.499928,20.774668,3687.0,1453.696045,551.684631

In [8]:
random_tabular_view.to_csv(f'rural_target_results.csv', index=False)